extends ../../layouts/default
include ../../mixins/alert
block main
    +alertSuccess(5000)
    .container.mt-5
        .card
            .card-header.bg-primary.text-white
                h3.card-title Chi tiết quyền
            .card-body
                .row.mb-3
                .col-md-3.font-weight-bold Tên quyền:
                .col-md-9 #{role.title}
                .row.mb-3
                .col-md-3.font-weight-bold Mô tả:
                .col-md-9 #{role.description}
                .row.mb-3
                .col-md-3.font-weight-bold Chức năng:
                .col-md-9
                    ul.list-group
                    each permission in role.permissions
                        li.list-group-item #{permission}