extends ../../layouts/auth.pug
include ../../mixins/alert

block content
    +alertError(5000)
    +alertSuccess(5000)
    .auth-form
        h2.text-center.mb-4 Quên mật khẩu
        form(action="/user/forgotpassword", method="POST")
            .mb-3
                label.form-label(for="email") Email đăng ký
                input.form-control(
                    type="email", 
                    id="email", 
                    name="email", 
                    placeholder="Nhập email bạn đã đăng ký",
                    required
                )
            
            
            button.btn.btn-primary.w-100(type="submit") Gửi mã xác nhận
        
        .mt-3.text-center
            a(href="/auth/login") Quay lại đăng nhập
            br
            a(href="/auth/register") Chưa có tài khoản? Đăng ký ngay