extends ../../layouts/auth.pug
include ../../mixins/alert

block content
    +alertError(5000)
    +alertSuccess(5000)
    .auth-form
        h2.text-center.mb-4 Đăng nhập
        form(action="/user/login", method="POST")
            .mb-3
                label.form-label(for="email") Email
                input.form-control(type="email", id="email", name="email", required)
            
            .mb-3
                label.form-label(for="password") Mật khẩu
                input.form-control(type="password", id="password", name="password", required)
            
            .mb-3.form-check
                input.form-check-input(type="checkbox", id="remember")
                label.form-check-label(for="remember") Ghi nhớ đăng nhập
            
            button.btn.btn-primary.w-100(type="submit") Đăng nhập
        
        .mt-3.text-center
            a(href="/user/register") Chưa có tài khoản? Đăng ký ngay
            br
            a(href="/user/forgotpassword") Quên mật khẩu?