doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
    body 
        include ../partial/header.pug

        block main

        include ../partial/footer.pug